
# macOS junk
.DS_Store

# Python environment and cache
venv/
__pycache__/
*.pyc

# Raw dataset (too large for Git)
python_extractor/dataset/

# Compiled C files
c_search/obj/
c_search/bin/

# IDE files
.vscode/

